<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Melba's Trips - Lodging</title>
    <link rel="icon" href="./assets/melba-logo-ps.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
    
</head>
<body id="app">
    <div>
        <!--<div class="animation" ref="animation">
            Animation Div
        </div>-->
        <div class="mainDiv d-flex flex-column" ref="mainDiv">
            <!--Main Div-->
            <header class="d-flex flex-column justify-content-center">
                <div class="headerAccess d-flex flex-row justify-content-evenly align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <img src="./assets/melba-logo-ps.png" class="logo" alt="melba-logo">
                        <!--<h1>Melba's Trips</h1>-->
                    </div>
                    <div class="d-flex flex-row">
                        <div class="m-3">
                            <!-- Button trigger modal log in -->
                            <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLogIn"><i class="fal fa-user"></i> Log In</button>-->
                            <a class="linkCursor" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"><i class="fal fa-user"></i> Log In</a>
                        </div>
                        <div class="m-3">
                            <!-- Button trigger modal cart -->
                            <a class="linkCursor" href="./cart.html"><i class="fal fa-luggage-cart"></i> Cart</a>
                        </div>
                        <div class="m-3">
                            <a href="./help.html" class="linkCursor"><i class="fal fa-question-square"></i> Help</a>
                        </div>
                    </div>
                </div>
                <div class="headerForm d-flex flex-column justify-content-evenly align-items-center p-4">
                    
                </div>
                <div class="headerInfo d-flex flex-row justify-content-evenly align-items-center col-8 p-4">
                    <div class="d-flex flex-column">
                        <i class="fal fa-bed align-self-center"></i>
                        <a class="box" href="#">Lodging</a>
                    </div>
                    <div class="d-flex flex-column">
                        <i class="fal fa-plane-alt align-self-center"></i>
                        <a class="box" href="#">Flights</a>
                    </div>
                    <div class="d-flex flex-column">
                        <i class="fal fa-hiking align-self-center"></i>
                        <a class="box" href="#">Activities</a>
                    </div>
                    <div class="d-flex flex-column">
                        <i class="fal fa-box-full align-self-center"></i>
                        <a class="box" href="#">Packages</a>
                    </div>
                </div>
            </header>
            <main class="container">
                <!-- Modal log in/register -->
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabelToggle" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content"><!-- Here a v-model -->
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel">Log In</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex justify-content-center align-items-center">
                                <fieldset>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInputLogIn" placeholder="name@example.com">
                                        <label for="floatingInputLogIn">Email Address</label>
                                      </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPasswordLogIn" placeholder="password">
                                        <label for="floatingPasswordLogIn">Password</label>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center align-items-center">
                          <button class="btn btn-warning" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Register</button>
                          <button type="button" class="btn btn-info">Log In</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel2">Registration</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex justify-content-center align-items-center">
                                <fieldset>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingFirstRegister" placeholder="first_name" minlength="3" maxlength="25" required>
                                        <label for="floatingFirstRegister">First Name</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingLastRegister" placeholder="last_name" minlength="3" maxlength="25" required>
                                        <label for="floatingLastRegister">Last Name</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingEmailRegister" placeholder="name@example.com" minlength="7" maxlength="40" required>
                                        <label for="floatingEmailRegister">Email Address</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPasswordRegister" placeholder="password" minlength="6" maxlength="25" required>
                                        <label for="floatingPasswordRegister">Password</label>
                                      </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center align-items-center">
                          <button class="btn btn-warning" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to Log In</button>
                          <button type="button" class="btn btn-info">Sign Up</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Main Content -->
                <div class="accordion m-3" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          New Ticket
                        </button>
                      </h2>
                      <!-- AQUI FORM TICKET (O VUELO) -->
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div v-on="newTicket" class="accordion-body">
                            <fieldset class="p-3">
                              <!--<div>
                                <label for="flyType">Select a service type</label>
                                <input v-model="service" type="text" class="form-control" id="flyType" placeholder="type" minlength="3" maxlength="25" required>
                              </div>-->
                                  <div>
                                    <label for="flyPrice">Select a price</label>
                                    <input v-model="price" type="number" class="form-control" id="flyPrice" placeholder="price" minlength="3" maxlength="25" required v-model="price">
                                  </div>
                                  <div>
                                    <label for="flyDiscount">Select a discount code</label>
                                    <input v-model="discountCode" type="text" class="form-control" id="flyDiscount" placeholder="discount" minlength="3" maxlength="25" required>
                                  </div>
                                  <div>
                                    <label for="flyName">Select a product name</label>
                                    <input v-model="productName" type="text" class="form-control" id="flyName" placeholder="name" minlength="3" maxlength="25" required>
                                  <div>
                                  <div>
                                    <label for="flyDescription">Select a description</label>
                                    <input v-model="description" type="text" class="form-control" id="flyDescription" placeholder="description" minlength="3" maxlength="100" required>
                                  </div>
                                  <div>
                                    <label for="flyAddress">Select an address</label>
                                    <input v-model="address" type="text" class="form-control" id="flyAddress" placeholder="address" minlength="3" maxlength="50" required v-model="address">
                                  </div>
                                    <label for="flyStock">Select a stock</label>
                                    <input v-model="stock" type="number" class="form-control" id="flyStock" placeholder="stock" minlength="3" maxlength="25" required v-model="stock">
                                  </div>
                                  <div>
                                    <label for="imgUrlTicket">Ingrese la URL del destino</label>
                                    <input v-model="imgUrl" type="text"class="form-control" id="imgUrlTicket" placeholder="url" required  v-model="imgURL">
                                  </div>
                                  <div>
                                    <label for="agencyName">Agency Name</label>
                                    <input v-model="agencyName" type="text" class="form-control" id="agencyName" placeholder="End">
                                  </div>
                                  <div>
                                    <label for="departureDate">Departure Date</label>
                                    <input v-model="departureDate" type="date" class="form-control" id="departureDate" placeholder="Start">
                                  </div>
                                  <!-- Fecha de salida debe ser antes que la de llegada -->
                                  <div>
                                    <label for="arrivalDate">Arrival Date</label>
                                    <input v-model="arrivalDate" type="date" class="form-control" id="arrivalDate" placeholder="End">
                                  </div>
                                  <div>
                                    <label for="departureLocation">Departure Location</label>
                                    <input v-model="departureLocation" type="text" class="form-control" id="departureLocation" placeholder="Start">
                                  </div>
                                  <div>
                                    <label for="arrivalLocation">Arrival Location</label>
                                    <input v-model="arrivalLocation" type="text" class="form-control" id="arrivalLocation" placeholder="End" v-model="destination">
                                  </div>
                                <div class="modal-footer divForm d-flex align-self-center justify-content-center m-3">
                                  <button type="button" class="btn btn-secondary d-flex align-self-center justify-content-center col-3" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-info d-flex align-self-center justify-content-center col-3" @click="newTicket()">Accept</button>
                                </div>
                            </fieldset>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          New Lodging
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div v-on="newHotel" class="accordion-body">
                          <fieldset class="p-3">
                              <div>
                                <label for="lodgingPrice">Select a price</label>
                                <input v-model="price" type="number" class="form-control" id="lodgingPrice" placeholder="price" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="lodgingDiscount">Select a discount code</label>
                                <input v-model="discountCode" type="number" class="form-control" id="lodgingDiscount" placeholder="discount" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="lodgingDescription">Select a description</label>
                                <input v-model="description" type="text" class="form-control" id="lodgingDescription" placeholder="description" minlength="3" maxlength="100" required>
                              </div>
                              <div>
                                <label for="lodgingName">Select a product name</label>
                                <input v-model="productName" type="text" class="form-control" id="lodgingName" placeholder="name" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="lodgingStock">Select a stock</label>
                                <input v-model="stock" type="number" class="form-control" id="lodgingStock" placeholder="stock" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="imgUrlLodging">Ingrese la URL del Alojamiento</label>
                                <input v-model="imgUrl" type="text"class="form-control" id="urlImgLodging" placeholder="url" required>
                              </div>
                              <div>
                                <label for="lodgingAddress">Select an address</label>
                                <input v-model="address" type="text" class="form-control" id="lodgingAddress" placeholder="address" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <p>Parking?</p>
                                <div class="form-check form-check-inline">
                                  <input v-model="parking" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineParkingRadio1" value="true">
                                  <label class="form-check-label" for="inlineParkingRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input v-model="parking" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineParkingRadio2" value="false">
                                  <label class="form-check-label" for="inlineParkingRadio2">No</label>
                                </div>
                              </div>
                              <div>
                                <p>Concierge?</p>
                                <div class="form-check form-check-inline">
                                  <input v-model="concierge" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineConciergeRadio1" value="true">
                                  <label class="form-check-label" for="inlineConciergeRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input v-model="concierge" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineConciergeRadio2" value="false">
                                  <label class="form-check-label" for="inlineConciergeRadio2">No</label>
                                </div>
                              </div>
                              <div>
                                <label for="lodgingAgencyName">Agency Name</label>
                                <input v-model="agencyName" type="text" class="form-control" id="lodgingAgencyName" placeholder="End">
                              </div>
                            <div class="modal-footer divForm d-flex align-self-center justify-content-center m-3">
                              <button type="button" class="btn btn-secondary d-flex align-self-center justify-content-center col-3" data-bs-dismiss="modal">Close</button>
                              <button @click="newHotel()" type="submit" class="btn btn-info d-flex align-self-center justify-content-center col-3">Accept</button>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          New Activity
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div v-on="newEvent" class="accordion-body">
                          <fieldset class="p-3">
                              <div>
                                <label for="eventName">Select a product name</label>
                                <input v-model="productName" type="text" class="form-control" id="eventName" placeholder="name" minlength="3" maxlength="25" required>
                              </div>
                              <!--<div>
                                <label for="eventPoints">Select points amount</label>
                                <input type="text" class="form-control" id="eventPoints" placeholder="points" minlength="3" maxlength="25" required>
                              </div>-->
                              <div>
                                <label for="eventPrice">Select a price</label>
                                <input v-model="price" type="number" class="form-control" id="eventPrice" placeholder="price" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="eventDiscount">Select a discount code</label>
                                <input v-model="discountCode" type="text" class="form-control" id="eventDiscount" placeholder="discount" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="eventAddress">Select an address</label>
                                <input v-model="address" type="text" class="form-control" id="eventAddress" placeholder="address" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="eventDescription">Select a description</label>
                                <input v-model="description" type="text" class="form-control" id="eventDescription" placeholder="description" minlength="3" maxlength="100" required>
                              </div>
                              <div>
                                <label for="eventStock">Select a stock</label>
                                <input v-model="stock" type="number" class="form-control" id="eventStock" placeholder="stock" minlength="3" maxlength="25" required>
                              </div>
                              <div>
                                <label for="imgUrlEvent">Ingrese la URL del evento</label>
                                <input v-model="imgUrl" type="text"class="form-control" id="imgUrlEvent" placeholder="url" required>
                              </div>
                              <div>
                                <label for="eventAgencyName">Agency Name</label>
                                <input v-model="agencyName" type="text" class="form-control" id="eventAgencyName" placeholder="End">
                              </div>
                              <div>
                                <label for="eventArtist">Artist</label>
                                <input v-model="artist" type="text" class="form-control" id="eventArtist" placeholder="End">
                              </div>
                              <div>
                                <p>VIP?</p>
                                <div class="form-check form-check-inline">
                                  <input v-model="vip" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineVipRadio1" value="true">
                                  <label class="form-check-label" for="inlineVipRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input v-model="vip" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineVipRadio2" value="false">
                                  <label class="form-check-label" for="inlineVipRadio2">No</label>
                                </div>
                              </div>
                            <div class="modal-footer divForm d-flex align-self-center justify-content-center m-3">
                              <button type="button" class="btn btn-secondary d-flex align-self-center justify-content-center col-3" data-bs-dismiss="modal">Close</button>
                              <button @click="newEvent()"type="submit" class="btn btn-info d-flex align-self-center justify-content-center col-3">Accept</button>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                
            </main>
            <footer>
                <div class="footer-box-1 d-flex flex-wrap flex-row justify-content-evenly pt-2 border-bottom">
                    <div>
                      <h5>About Us</h5>
                      <h6><a class="box" href="#">Who are we?</a></h6>
                      <h6><a class="box" href="#">Banking promo</a></h6>
                    </div>
                    <div>
                      <h5>Safe and Secure</h5>
                      <h6><a class="box" href="#">Terms and conditions</a></h6>
                      <h6><a class="box" href="#">Privacy policy</a></h6>
                      <h6><a class="box" href="#">FAQs</a></h6>
                    </div>
                    <div>
                      <h5>Contact</h5>
                      <h6><a class="box" href="#">Help</a></h6>
                      <h6><a class="box" href="#">Contact Form</a></h6>
                    </div>
                </div>
                <div class="footer-box-2 d-flex flex-wrap flex-column justify-content-center align-items-center pt-2 p-2 border-bottom">
                        <div class="d-flex justify-content-center" id="socialShare">
                            <a class="facebook m-2" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                            <a class="instagram m-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a class="twitter m-2" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a class="linkedin m-2" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                      <div>
                        <h5><i class="fal fa-phone-volume"></i><strong> Call Center:</strong> 0810-220-1309</h5>
                      </div>
                      <div>
                        <h5><i class="fad fa-calendar-alt"></i><strong> Mon to Fri:</strong> 9hs to 19hs</h5>
                      </div>
                      <div>
                        <h5><i class="fad fa-calendar-star"></i><strong> Sat:</strong> 10hs to 17hs</h5>
                      </div>
                </div>
                <div class="footer-box-3 d-flex flex-wrap flex-column justify-content-center align-items-center pt-2 p-2">
                    <div>
                      <h5>© 2021 Melba's Trips | All Rights Reserved</h5>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Go to top animation -->
    <div class="go-top-container">
        <div class="go-top-button">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts/animation.js"></script>
    <script src="./scripts/admin.js"></script>
</body>
</html>