:root {
    --font-color-w: #D2D3D9;
    --font-color-b: #0D0D0D;
    --main-bg-color: #A3B2BF;
    --form-bg-color: #7B95A6;
    --header-bg-color: #435c8f;
    --extra-color: #731425;
}


/*generals*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainDiv {
    background-color: var(--main-bg-color);
}
a, i {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    color: var(--font-color-w);
}
h2 {
    color: var(--font-color-b);
    font-family: 'Poppins', sans-serif;
}
h5 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
}
.linkCursor {
    cursor: pointer;
}
.btnSearch {
    padding: .5rem;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color-b);
}
.fa-search-location {
    color: var(--font-color-b);
}
/*header*/
.logo {
    width: 145px;
    height: 145px;
}
.headerAccess {
    background-color: var(--header-bg-color);
    width: 100%;
}
.headerInfo {
    background-color: var(--header-bg-color);
    width: 100%;
    border-radius: 15px;
}
.headerForm {
    background-color: var(--main-bg-color);
}
.formDiv {
    padding: 1rem;
    background-color: var(--font-color-w);
    border-radius: 15px;
}
.modal-header, .modal-footer {
    background-color: var(--header-bg-color);
}
.modal-body {
    background-color: var(--form-bg-color);
}
/*Card publicidad*/

.containerPadre {
    width: 1200px;
}
.containerHijo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.containerHijo .card1 {
    position: relative;
    width: 450px;
    height: 250px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-image: url(../assets/vuelo.jpg);
    background-repeat: no-repeat;
    background-size: 450px 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 

}

@media (max-width: 500px) {
    .containerHijo .card1 {
        width: 300px;
        background-size: 300px 250px;
    }
 }


.containerHijo .card2 {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    background-image: url(../assets/hotel.jpg);
    background-position: center;
    background-size: 250px 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.containerHijo .card3 {
    background-image: url(../assets/maleta.jpg);
}


.containerHijo .card .content .contentBx h3 {
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
}

/*card imagen completa destino*/

.containerPadre {
    width: 1200px;
}
.containerDestino {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.containerDestinoHijo .cardDestino {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.containerDestinoHijo .cardDestino .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.5;
}

.containerDestinoHijo .cardDestino:hover .content {
    bottom: 0px;
}

.containerDestinoHijo .cardDestino .content .contentBx h3 {
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(0px);
}

.containerDestinoHijo .cardDestino:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateX(0px);
}

/*main*/

/*Card Publicidad*/

/*footer*/
footer {
    background-color: var(--header-bg-color);
}
.fa-facebook-square {
    color: #6772e5;
}
.fa-instagram {
    color: #e85c6f;
}
.fa-twitter {
    color: #1d9bf0;
}
.fa-linkedin-in {
    color: #0a66c2;
}
/*Animation*/
.go-top-container {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}
.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: var(--extra-color);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--font-color-w);
    transition: .2s;
}
.showButton {
    z-index: 10;
}
.showButton .go-top-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}
.showButton i {
    transform: translate(-50%, -50%) scale(1);
}
