:root {
    --font-color-w: #D2D3D9;
    --font-color-b: #0D0D0D;
    --main-bg-color: #b8c3ce;
    --form-bg-color: #7B95A6;
    --header-bg-color: #435c8f;
    --extra-color: #731425;
}


/*generals*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainDiv {
    background-color: var(--main-bg-color);
}
a, i {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    color: var(--font-color-w);
    transition: all 0.9s;  
}

a:hover {
    color: yellow;
}

.scale:hover a, .scale:hover i  {

    display: inline-block;
    color: yellow;
    transform: scale(1.3);
/*color: #36e179
scale: 1.1 (es muy grande)
pondria una transition ease para el crecimiento del icono
*/
}

h2 {
    color: var(--font-color-b);
    font-family: 'Poppins', sans-serif;
}
h5 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
}
.linkCursor {
    cursor: pointer;
}
.btnSearch {
    padding: .5rem;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color-b);
}
.fa-search-location {
    color: var(--font-color-b);
}
/*header*/
.logo {
    width: 145px;
    height: 145px;
}
.headerAccess {
    background-color: var(--header-bg-color);
    width: 100%;
}
.headerInfo {
    background-color: var(--header-bg-color);
    width: 100%;
}
.headerForm {
    /*background-color: var(--main-bg-color);*/
    background-image: url("https://res.cloudinary.com/melbastrips/image/upload/v1638901675/samples/Pngtree_color_travel_tourism_vacation_a2nfxv.jpg");
    
}
.formDiv {
    margin: 1rem;
    padding: 2.5rem;
    background-color: var(--font-color-w);
    border-radius: 15px;
}
.modal-header, .modal-footer {
    background-color: var(--header-bg-color);
}
.modal-body {
    background-color: var(--form-bg-color);
}
/*Card publicidad*/

.containerPadre {
    width: 1200px;
}
.containerHijo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.containerHijo .card1 {
    position: relative;
    width: 450px;
    height: 250px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.containerHijo .card1 .video{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .containerHijo .card1 {
        width: 300px;
        background-size: 300px 250px;
    }
 }


.containerHijo .card2 {
    position: relative;
    width: 300px;
    height: 250px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    background-color: #b0bbc5ab;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.containerHijo .card2:hover {
    transform: scale(1.1);
}

.containerHijo .card2 .imgPlublicidad {
    position: relative;
    width: 100%;
    height: 100%;
}

.containerHijo .card2 .imgPlublicidad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerHijo .card2 .imgPlublicidad .viajeCliente {
    position: absolute;
    top: 10px;
    left: 0;
    padding: .2rem;
    margin: .2rem;
    border-radius: 10px;
    background-color: rgb(255, 72, 0);
    color: yellow;
    transform: rotate(-25deg)
}

.containerHijo .card .content .contentBx h3 {
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
}

/*card imagen completa destino*/

.containerPadre {
    width: 1200px;
}
.containerDestino {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

div .imgBx{
    width: 100%;
    height: 100%;
}

div .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerDestinoHijo .cardDestino {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.containerDestinoHijo .cardDestino .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.5;
}

.containerDestinoHijo .cardDestino:hover .content {
    bottom: 0px;

}

.containerDestinoHijo .cardDestino .content .contentBx h3 {
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(0px);
}

.containerDestinoHijo .cardDestino:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateX(0px);
    cursor:pointer

}

/*Card Vuelos*/

.cardDestino {
    position: relative;
    width: 300px;
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 15px 35px rgba(82, 77, 77, 0.5);
    background-color: var(--font-color-w);
}

div .imgDestino {
    width: 100%;
    height: 40%;
}

.imgDestino img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


div .imgDestino .idaYvuelta {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    padding: 0.5px;
    background-color: #82838888;
    color: var(--font-color-w);
    border-radius: 30px;
    text-align: center;
    
} 

.contentDestino {
    width: 100%;
    height: 40%;
    padding: .5rem;
    
}

div .imgDestino:hover img{
    transition: 1.5s ease;
    position: absolute;
    top: 0;
    height: 80%;
    z-index: 1;
    cursor:pointer

    /*
    en mi vista el alto queda un poco pasando la linea...en 71% calza perfecto
    yo haria q al hover la fotografia crezca con ease hacia abajo hasta llegar al limite con la parte del precio.
    Ahora lo q hace al hover es ocupar el 100% de toda la card y despues de eso busca el limite. No deberia ocupar el
    100% de la card
    */
}


.lineaDiv{
    width: 100%;
    height: 20%;
    padding: .5rem;
    border-top: 1px solid rgb(107, 105, 105);
}

.contentDestino h2 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1rem;  
}

.btn-buy{
    padding: .5rem 2rem;
    margin-top: 1rem;
    color: #ffff;
    text-decoration: none;
    background-color: #2196f3;
    border-radius: 2rem;
}

.spanRojo {
    color: red;
}

.spanAmarillo {
    color: yellow;
}

div .oferta img {
    width: 3.5rem;
}

div .oferta {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-35deg);
}

/*main*/
.tableContainer {
    background-color: var(--font-color-w);
    margin: 1rem;
    border-radius: 15px;
}
th {
    font-size: 1rem;
    color: var(--extra-color);
    font-family: 'Dosis', sans-serif;
}
td {
    font-size: 1.1rem;
    padding: 5rem;
    height: 120px;
}
.btn-close {
    font-size: 1rem;
}
.btnCart {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}
.imgTable {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.labelCode {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--extra-color);
    font-size: 1.3rem;
    padding: .5rem;
    margin: 1rem;
}
.payButton {
    font-size: 1.5rem;
}
.cardInfoContainer {
    background-color: var(--font-color-w);
    margin: 1rem;
    border-radius: 15px;
}
.paymentTitle {
    border-bottom: 1px solid var(--header-bg-color);
    font-family: 'Dosis', sans-serif;
}
/*cart properties*/

#cartBtn {
    position: fixed;
    bottom: 20px;
    left: 30px;
    cursor: pointer;
    box-shadow: none!important;
}
#cartImg {
    max-width: 150px;
    z-index: -2;
}
.offcanvas {
    width: 30%;
    height: 60%;
}
.offcanvas-header {
    background-color: var(--header-bg-color);
    color: var(--font-color-w);
}
.offcanvas-body {
    background-color: var(--main-bg-color);
}

/*cards modals*/
.modal-title {
    font-family: 'Poppins', sans-serif;
}

.modalImg {
    width: 460px;
    height: 230px;
    border: 3px solid var(--extra-color);
    border-radius: 10px;
}
.selectClassModal {
    width: 120px;
}
.textDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
/*footer*/
footer {
    background-color: var(--header-bg-color);
}
.fa-facebook-square {
    color: #6772e5;
}
.fa-instagram {
    color: #e85c6f;
}
.fa-twitter {
    color: #1d9bf0;
}
.fa-linkedin-in {
    color: #0a66c2;
}
/*Animation*/
.go-top-container {
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}
.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: var(--extra-color);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--font-color-w);
    transition: .2s;
}
.showButton {
    z-index: 10;
}
.showButton .go-top-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}
.showButton i {
    transform: translate(-50%, -50%) scale(1);
}




